{{!-- Extiende el layout --}}
{{> layout}}

<h1>Currículum Cargado Exitosamente</h1>
<p>Nombre: {{resume.name}}</p>
<p>Apellido: {{resume.surname}}</p>
<p>Email: {{resume.email}}</p>
<p>Teléfono: {{resume.phone}}</p>
<p>DNI: {{resume.dni}}</p>
<p>Archivo: <a href="/{{resume.file}}" target="_blank">{{resume.file}}</a></p>

